{% extends 'base.html' %}

{% block header %} 
    <h1>{% block title %}Stats{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container-sm">
        <h2>Welcome to StatStick</h2>
        <p>The home of all things NHL</p>
    </div>
{% endblock %}