<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/jquery-3.6.0.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('index') }}">StatStick</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarForHeader" aria-controls="#navbarForHeader" aria-expanded="false" aria-label="Toggle Navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarForHeader">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link {{ teams_active }}" aria-current="page" href="#">Teams</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ player_active }}" aria-current="page" href="#">Players</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ standing_active }}" aria-current="page" href="#">Standings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ faq_active }}" aria-current="page" href="#">FAQ</a>
                        </li>
                        {% if g.user %}
                            {% if g.user['is_admin'] == True %}
                                <li class="nav-item">
                                    <a class="nav-link {{ admin_active }}" aria-current="page" href="{{ url_for('auth.admin') }}">Administration</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {% if g.user %}
                            <li class="nav-item">
                                <a class="nav-link {{ profile_active }}" aria-current="page" href="{{ url_for('user.profile_name', username=g.user['lower_username']) }}">{{ g.user['username'] }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{{ url_for('auth.logout') }}">Log Out</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link {{ register_active }}" aria-current="page" href="{{ url_for('auth.register') }}">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {{ login_active }}" aria-current="page" href="{{ url_for('auth.login') }}">Log In</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        
        <section class="content">
            <header>
                <div class="container-sm">
                {% block header %}{% endblock %}
                </div>
            </header>
            <div class="container-sm">
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-primary">{{ message }}</div>
                {% endfor %}
            </div>
            {% block content %}
            
            {% endblock %}
        </section>
    </body>
</html>