{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Administration Panel{% endblock %}</h1>
{% endblock %}

{% block content %}
    <ul>
        <a href="{{ url_for('auth.user_management') }}"><h2>User Management</h2></a>
        <h2>Update API information</h2>
    </ul>
{% endblock %}