{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container-sm">
        <form method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Email or Username</label>
                <input type="text" class="form-control" name="username" id="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
            <button type="submit" class="btn btn-secondary">Log In</button>
        </form>
    </div>
{% endblock %}
