{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Registration{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container-sm">
        <form method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" id="username">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" id="email">
            </div>
            <div class="mb-3 row">
                <label for="first_name" class="form-label">Name</label>
                <div class="col">
                    <input type="text" class="form-control" placeholder="First Name" name="first_name" id="first_name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Last Name" name="last_name" id="last_name">
                </div>
            </div>
            <div class="mb-3">
                <label for="fav_team" class="form-label">Favorite Team</label>
                <input type="text" class="form-control" name="fav_team" id="fav_team">
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" name="location" id="location">
            </div>
            <div class="mb-3">
                <label for="bio" class="form-label">About You</label>
                <textarea class="form-control" name="bio" id="bio" rows="10"></textarea>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
    </div>
{% endblock %}