{% extends 'base.html' %}

{% block header %} 
    <h1>{% block title %}User Management{% endblock %}</h1>
{% endblock %}

{% block content %}
    <ul>
        <a href="#"><h2>View All Users</h2></a>
    </ul>
{% endblock %}