{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Edit Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container-sm">
        <form method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" id="email" value="{{ g.user['email'] }}">
            </div>
            <div class="mb-3 row">
                <label for="first_name" class="form-label">Name</label>
                <div class="col">
                    <input type="text" class="form-control" name="first_name" id="first_name" aria-describedby="fnameHelp" value="{{ g.profile['first_name'] }}">
                    <div id="fnameHelp" class="form-text">First Name</div>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="last_name" id="last_name" aria-describedby="lnameHelp" value="{{ g.profile['last_name'] }}">
                    <div id="lnameHelp" class="form-text">Last Name</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="fav_team" class="form-label">Favorite Team</label>
                <input type="text" class="form-control" name="fav_team" id="fav_team" value="{{ g.profile['fav_team'] }}">
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" name="location" id="location" value="{{ g.profile['loc'] }}">
            </div>
            <div class="mb-3">
                <label for="bio" class="form-label">About You</label>
                <textarea class="form-control" name="bio" id="bio" rows="10">{{ g.profile['bio'] }}</textarea>
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
    </div>
{% endblock %}