{% extends 'base.html' %}

{% block header %}
    <div class="container-sm text-center">
        <h1>{% block title %}{{ context['username'] }}'s Profile{% endblock %}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="container-sm">
        <div class="hr-theme-slash-2">
            <div class="hr-line"></div>
        </div>
        <p class="fs-6 fw-lighter lh-1 text-center">Email</p>
        <p class="fs-5 lh-1 text-center">{{ context['email'] }}</p>
        <p class="fs-6 fw-lighter lh-1 text-center">Name</p>
        <p class="fs-5 lh-1 text-center">{{ context['full_name'] }}</p>
        <p class="fs-6 fw-lighter lh-1 text-center">Favorite Team</p>
        <p class="fs-5 lh-1 text-center">{{ context['fav_team'] }}</p>
        <p class="fs-6 fw-lighter lh-1 text-center">Location</p>
        <p class="fs-5 lh-1 text-center">{{ context['loc'] }}</p>
        <p class="fs-6 fw-lighter lh-1 text-center">About</p>
        <p class="fs-5 lh-1 text-center inline-text">{{ context['bio'] }}</p>
        {% if context['id'] == g.user['id'] or g.user['is_admin'] == True %}
            <div class="text-end">
                <a href="{{ url_for('user.edit_profile') }}" class="fs-5 fw-light link-info">Edit Profile</a>
            </div>
        {% endif %}
    </div>
{% endblock %}